.container {
  margin: 2em auto;
}
.index-route {
  display: flex;
}
.index-route-button {
  margin-right: 20px;
}
form a {
  margin-left: 5px;
}
.list-answer{
  display: flex;
  flex-direction: column;
}
.list-answer-id {
  display: flex;
  flex-direction: row;
  justify-content: normal;

  font-size: 22px;
  font-weight: bold;
}
.list-answer-id > p {
  /*margin: 0;*/
}
.list-answer-id-span {
}
.list-answer-text {
  margin-bottom: 0;
  word-break: break-all;
  font-size: 20px;
}
.team-answer-header {
  margin-top: 50px;
  margin-bottom: 25px;
}
.list-answer-image {
  margin: 0 auto;
}
.list-answer-image > img {
  max-height:100%;
  width: 100%;
}
.list-question-content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 800px) {
  .list-answer {
    flex-direction: row;
  }
  .list-answer-id {
    flex-direction: column;
    justify-content: center;
    width: 20px;
    margin-right: 20px;
  }
  .list-answer-id-span {
    display: none;
  }
}
